#--------------------------#
# Magento Default Files    #
#--------------------------#

/app/etc/local.xml

/media/*
!/media/.htaccess

!/media/customer
/media/customer/*
!/media/customer/.htaccess

!/media/dhl
/media/dhl/*
!/media/dhl/logo.jpg

!/media/downloadable
/media/downloadable/*
!/media/downloadable/.htaccess

!/media/xmlconnect
/media/xmlconnect/*

!/media/xmlconnect/custom
/media/xmlconnect/custom/*
!/media/xmlconnect/custom/ok.gif

!/media/xmlconnect/original
/media/xmlconnect/original/*
!/media/xmlconnect/original/ok.gif

!/media/xmlconnect/system
/media/xmlconnect/system/*
!/media/xmlconnect/system/ok.gif

/var/*
!/var/.htaccess

!/var/package
/var/package/*
!/var/package/*.xml


/app/code/community/*
/app/code/core/*
media/*
var/*


LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
RELEASE_NOTES.txt

api.php
app/.htaccess
app/Mage.php
app/locale/

.htaccess
cron.php
cron.sh
downloader/
errors/
favicon.ico
get.php
includes/
index.php
index.php.sample
install.php

js/
lib/
mage
php.ini.sample
pkginfo/
shell/
skin/
